.Ui-con {
    
    width: 100%;
}
.black {
    background-color: black;
    transition: 2s .5s;
}
.ui-div-con {
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.proj-title {
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.proj-title h1 {
    padding-bottom: 1rem;
    letter-spacing: 2px;
}
.proj-title p {
    padding-top: 1rem;
    letter-spacing: 2px;
}
.unde {
    width: 40%;
    height: 2px;
    background-color: black;
}

@keyframes sliders1{
    from{
     opacity: 0;
      transform: translateY(200);
    }
    to{
     opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slidersText{
    from{
     
        transform: translateY(-230px);
        
    }
    to{
     
        transform: translateY(0px);
      
    }
  }
     /*--------------------------------*/
     .textH-show{
        transform: translateX(0px);
        transition: 1s .7s;
      }
      .textH-hide{
        transform: translateX(-130px);
        transition: .5s .7s;
      }
    /*--------------------------------*/
    .proj-title h1{
     animation: slidersText 1s ;
   
    }
    .proj-title .unde{
        animation: slidersText 1.3s ;
      
       }
    .proj-title p{
        animation: slidersText 1.5s;
      
       }
 /* .proj-title h1 {
    animation: slidersText 1.4s;
  } */
.proj-grid {
  width: 95%;

  justify-content: center;
  align-items: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 45% 45%;
 
  grid-auto-rows: minmax(70vh, auto);
}
.gra {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .6;
    position: absolute;
    z-index: 2;
}
.star-gra {
    background-color: rgb(0, 0, 0);
}
.job-gra {
    background-color: black;
    opacity: .8;
}
.proj-con {
    animation: sliders1 1.4s;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.grid-co {
  
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgb(243, 243, 243);
}
.proj-text {
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 4;
}
.proje-img {
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(5px);

}
.star-wars {
    filter: blur(8px);
}
.proj-text a {
    width: 100%;
    text-decoration: none;
    
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.proj-text a h1{
    color: rgb(255, 255, 255);
}
.logo-banner-proj {
    width: 40%;
    height: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.logo-banner-proj:hover {
  
}
.image-banner-proj {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
 .gra-w {
    width: 100%;
    height: 100%;
    background-color: rgb(65, 65, 65);
    position: absolute;
    z-index: 3;
    
}
/*.proj-con:hover .gra-w {
    opacity: 1;
    transform: translateY(0px);
    transition: .8s;
} */
.grid-w-hide {
 
    opacity: 1;
    transform: translateY(100vh);
    transition: .8s;
}
.grid-w-show {
    opacity: 1;
    transform: translateY(0px);
    transition: .8s;
    
} 
.job-pro {
    
}
@media screen and (min-width: 0px) and (max-width:1000px) {
    .proj-grid {
        width: 95%;
      
        justify-content: center;
        align-items: center;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 45% 45%;
 
        grid-auto-rows: minmax(70vh, auto);
      }
}
@media screen and (min-width: 0px) and (max-width:880px) {
    .proj-grid {
        width: 95%;
      
        justify-content: center;
        align-items: center;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 45% 45%;
 
  grid-auto-rows: minmax(55vh, auto);
      }
}
@media screen and (min-width: 0px) and (max-width:800px) {
    .proj-grid {
        width: 95%;
      
        justify-content: center;
        align-items: center;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 45% 45%;
 
        grid-auto-rows: minmax(55vh, auto);
      }
}
@media screen and (min-width: 0px) and (max-width:700px) {
    .proj-grid {
        width: 95%;
      
        justify-content: center;
        align-items: center;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 45% 45%;
 
        grid-auto-rows: minmax(45vh, auto);
      }
}
@media screen and (min-width: 0px) and (max-width:700px) {
    .proj-grid {
        width: 95%;
      
        justify-content: center;
        align-items: center;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 45% 45%;
 
        grid-auto-rows: minmax(40vh, auto);
      }
}
@media screen and (min-width: 0px) and (max-width:580px) {
    .proj-grid {
        width: 90%;
        height: 120vh;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
      }
      .proj-con {
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: blue;
        width: 100%;
        height: 100%;
    }
}