.job-con {
    width: 100vw;
}
.job-img-con {
    width: 100%;
}
.job-con-im {
    width: 100%;
    background-color: rgb(248, 248, 248);
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.job-img-left {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.job-img-right {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.job-img {
    width: 100%;
    height: 150vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
}
.job-img-rig {
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
  
}
.image-banner-job {
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
    
}
.rig-1 {
    width: 100%;
    height: 80vh;
}
.img-j-1 {
    transform: translateX(100px);
    z-index: 3;
}
.img-j-2 {
    transform: translate(-100px, -60px);
    z-index: 4;
}
.img-j-3 {
    transform: translate(-70px, 40px);
    z-index: 2;
}
@media screen and (min-width: 0px) and (max-width:1200px) {
    .rig-1 {
        width: 100%;
        height: 70vh;
    }
    .img-j-1 {
        transform: translateX(100px);
        z-index: 3;
    }
    .img-j-2 {
        transform: translate(-70px, -60px);
        z-index: 4;
    }
    .img-j-3 {
        transform: translate(-50px, 40px);
        z-index: 2;
    }
}
@media screen and (min-width: 0px) and (max-width:1000px) {
    .rig-1 {
        width: 100%;
        height: 70vh;
    }
    .img-j-1 {
        transform: translateX(100px);
        z-index: 3;
    }
    .img-j-2 {
        transform: translate(-70px, -60px);
        z-index: 4;
    }
    .img-j-3 {
        transform: translate(-50px, 20px);
        z-index: 2;
    }
   
}
@media screen and (min-width: 0px) and (max-width:900px) {
    .job-img {
        width: 100%;
        height: 180vh;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: rgb(248, 248, 248);
    }
    .img-j-1 {
        transform: translateX(100px);
        z-index: 3;
    }
    .img-j-2 {
        transform: translate(-70px, -60px);
        z-index: 4;
    }
    .img-j-3 {
        transform: translate(-50px, -20px);
        z-index: 2;
    }
}
@media screen and (min-width: 0px) and (max-width:760px) {
    .job-con-im {
        width: 100%;
        
        padding-top: 2rem;
        padding-bottom: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .job-img-left {
       
        width: 100%;
    }
    .job-img-right {
        
        width: 100%;
        
    }
    .job-img {
        width: 100%;
        height: 100vh;
       
    }
    .img-j-1 {
        transform: translate(0px);
        z-index: 3;
    }
    .img-j-2 {
        transform: translate(0px, 0px);
        z-index: 4;
    }
    .img-j-3 {
        transform: translate(0px, 0px);
        z-index: 2;
    }
}

@media screen and (min-width: 0px) and (max-width:660px) {
    .job-con-im {
        width: 100%;
        
        padding-top: 2rem;
        padding-bottom: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .job-img-left {
       
        width: 100%;
    }
    .job-img-right {
        
        width: 100%;
        
    }
    .job-img {
        width: 100%;
        height: 70vh;
       
    }
    .job-img-rig {
        width: 100%;
        height: 50vh;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: rgb(248, 248, 248);
      
    }
    .rig-2 {
        width: 100%;
        height: 40vh;
    }
}